---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Oops!",
	description: "404 | Oops something went wrong",
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">404 | Oops something went wrong</h1>
</PageLayout>
