---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About | Jack Doherty",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			I enjoy building solutions to solve problems, help me in my daily tasks or
			just to have fun and learn new technologies.
		</p>

		<p>
			My interest in software engineering started from a Tom and Jerry game
			called
			<a
				href="https://www.numuki.com/game/trap-o-matic/"
				rel="noopener noreferrer"
				target="_blank"
				class="inline-block cactus-link"
			>
				Tom's Trap-o-Matic
			</a>
			I played when I was a child. It involved Tom setting up traps to catch Jerry.
		</p>

		<p>
			I started programming and saw code as traps I could set up to make data do
			what I want. It itched the same part of my brain as the Tom and Jerry game
			did when I was younger.
		</p>
		<p>
			I'm currently working as a Software Engineer at
			<a
				href="https://www.ericsson.com/en"
				rel="noopener noreferrer"
				target="_blank"
				class="inline-block cactus-link">Ericsson</a
			>. 50% of the time I work on deploying kubernetes instances and providing
			support for issues that occur post deployment, and the other 50%, building
			internal tools to improve operations surrounding the procceses that are
			involved in this.
		</p><p>
			This can included building CI/CD pipelines, automating manual procedures,
			developing metrics tools or creating platforms for auditing and alerting.
		</p>
		<p>
			I built this site because I saw some videos about <a
				href="https://astro.build/"
				rel="noopener noreferrer"
				target="_blank"
				class="inline-block cactus-link">Astro</a
			> and wanted to try it and see how it worked. I also wanted to have a place
			to write about my experiences and share some projects I've worked on.
		</p>
	</div>
</PageLayout>
