---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "About | Jack Doherty",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			I enjoy building solutions to solve problems, help me in my daily tasks or
			just to have fun and learn new technologies.
		</p>

		<p>
			My interest in software engineering actually started from a Tom and Jerry
			game called
			<a
				href="https://www.numuki.com/game/trap-o-matic/"
				rel="noopener noreferrer"
				target="_blank"
				class="inline-block cactus-link"
			>
				Tom's Trap-o-Matic
			</a>
			I played when I was a child. It involved Tom setting up traps to catch Jerry.
		</p>

		<p>
			I found programming and viewed code as traps I could set up to make data
			do what I want which felt like a fun game to me. I think that's partly why
			I still enjoy dev so much today.
		</p>
	</div>
</PageLayout>
