---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import type { Favourite, FavouriteList } from "@/types";

const meta = {
	title: "Home",
	description: "Home | Jack Doherty",
};

const [FavouriteList] = await Astro.glob<FavouriteList>("./favourites.mdx");

const today = new Date() as any;
const born = new Date(942534840000) as any;
---

<PageLayout meta={meta}>
	<script is:inline>
		// 		run this every second
		setInterval(() => {
			const today = new Date();
			const born = new Date(942534840000);
			document.getElementById("age").innerHTML = (
				(today - born) /
				(1000 * 60 * 60 * 24 * 365.25)
			)
				.toString()
				.substring(0, 12);
		}, 100);
	</script>
	<section>
		<h1 class="mb-6 title">Hello!</h1>
		<p class="mb-4">
			I'm Jack, a <span id="age"
				>{
					((today - born) / (1000 * 60 * 60 * 24 * 365.25))
						.toString()
						.substring(0, 12)
				}
			</span> year old developer from Ireland. I studied computer applications at
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.dcu.ie/"
				class="cactus-link">DCU</a
			>
			and I'm currently working as a software engineer at
			<a
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link"
				href="https://www.ericsson.com/en">Ericsson</a
			>.
		</p>
		<SocialList />
	</section>

	<section class="mt-8">
		<h1 class="mb-6 title">Get in touch</h1>
		<form
			name="contact"
			method="POST"
			action="/success"
			data-netlify="true"
			netlify-honeypot="bot-field"
		>
			<input
				type="hidden"
				name="subject"
				value="Contact form submission from jackdoherty.tech"
			/>
			<p class="hidden">
				<label>
					Do not fill this out if you are human: <input name="bot-field" />
				</label>
			</p>
			<p>
				<label>Your Name: <input type="text" name="name" /></label>
			</p>
			<p>
				<label>Your Email: <input type="email" name="email" /></label>
			</p>

			<p>
				<label>Message: <textarea name="message"></textarea></label>
			</p>

			<p>
				<button type="submit">Send</button>
			</p>
		</form>
	</section>

	<section class="mt-10 space-y-2">
		<h2 class="mb-4 text-xl title">Want to suggest something I could build?</h2>
		<a
			href="https://project-idea-voting-app.vercel.app/"
			target="_blank"
			rel="noopener noreferrer"
			class="cactus-link inline-block"
		>
			Idea Voting App:
		</a>
		<p class="inline sm:mt-2">
			An app to allow you to vote on and suggest project / feature ideas to me.
		</p>
		<p>
			Any submissions I think are cool or that get a lot of votes I'll be sure
			to build.
		</p>
	</section>

	<section class="mt-14">
		<h2 class="mb-4 text-xl title">Things I've been interested in lately</h2>
		<ul class="space-y-4 sm:space-y-4">
			{
				FavouriteList.frontmatter.favourites.map((fav: Favourite) => (
					<li>
						<a
							href={fav.link}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{fav.name}:
						</a>
						<p class="inline sm:mt-2">{fav.description}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
