---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const meta = {
	title: "Home",
	description: "Home | Jack Doherty",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hello!</h1>
		<p class="mb-4">
			I'm Jack, a <span id="age"></span> year old developer from Ireland. I studied
			computer applications at
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.dcu.ie/"
				class="cactus-link">DCU</a
			>
			and I'm currently working as a software engineer at
			<a
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link"
				href="https://www.ericsson.com/en">Ericsson</a
			>.
		</p>
		<SocialList />
	</section>

	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologies I've been liking lately</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">
					Awesome static site generator, used to build this site too :)
				</p>
			</li>
			<li>
				<a
					href="https://trpc.io/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Trpc
				</a>:
				<p class="inline-block sm:mt-2">
					To build & consume fully typesafe APIs without schemas or code
					generation.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">Inline CSS but better.</p>
			</li>
			<li>
				<a
					href="https://nextjs.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Next.Js
				</a>:
				<p class="inline-block sm:mt-2">Fullstack React framework.</p>
			</li>
		</ul>
	</section>
</PageLayout>

<script>
	const today = new Date() as any;
	const born = new Date(942534840000) as any;

	document.getElementById("age").innerHTML = (
		(today - born) /
		(1000 * 60 * 60 * 24 * 365.25)
	)
		.toString()
		.substring(0, 12);
</script>
