---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Resume",
	description: "Resume | Jack Doherty",
};
---

<PageLayout meta={meta}>
	<section>
		<div class="flex justify-between">
			<h1 class="title">Resume</h1>
			<p>
				<a class="cactus-link" href="/jack-doherty-resume.pdf" download
					>Download</a
				>
			</p>
		</div>
	</section>
	<section class="mt-10 text-base border p-10">
		<h1 class="text-3xl title">Jack Doherty</h1>
		<div class="page-body">
			<div class="flex justify-between">
				<div class="column w-full">
					<p class=""></p><p class="highlight-gray">
						Software Engineer at
						<a href="https://www.ericsson.com/en"
							><span class="highlight-gray"> Ericsson</span>
						</a>
					</p>
				</div><div style="width:100%" class="column">
					<p class="">
						📧 <a
							href="mailto:jack@jackdoherty.tech?subject=Hey!%20Saw%20your%20resume!"
							>jack@jackdoherty.tech</a
						>
					</p><p class="">
						🌐 <a href="https://jackdoherty.tech/">jackdoherty.tech</a>
					</p><p class="">
						🔗 <a href="https://www.linkedin.com/in/jack-doherty-405/"
							>LinkedIn</a
						>
					</p><p class="">
						💻 <a href="https://github.com/jack-elliot-doherty">Github</a>
					</p>
				</div>
			</div>

			<h2 class="text-2xl font-semibold">👨&zwj;💻 About Me</h2><hr /><p
				class=""
			>
				I’m a software engineer currently working at Ericsson with a knack for
				problem solving through programming. I love the processes of planning,
				design and implementation that goes into the software development
				lifecycle. I enjoy building solutions to solve problems, help me in my
				daily tasks or just to have fun and learn new technologies.
			</p>

			<hr />

			<h2 class="text-2xl font-semibold">
				<strong>👩🏻&zwj;💻 Experience</strong>
			</h2>
			<hr />

			<h3 class="">Software Engineer</h3>
			<div class="flex justify-between">
				<div style="width:100%" class="column">
					<p class="">Ericsson, Athlone</p>
				</div><div style="width:12.50000000000004%" class="column">
					<p class="">Nov 2021 - Present</p>
				</div>
			</div><p class="">
				<strong>Responsibilities</strong>
			</p><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Develop PRA Fast Feedback pipeline (Jenkins, Ansible, Python) <ul
						class="bulleted-list"
					>
						<li style="list-style-type:circle">
							Automate the testing of new PRA CCD releases
						</li>
					</ul><ul class="bulleted-list">
						<li style="list-style-type:circle">
							Reducing testing and verification time from 3 days to 5 hours
							resulting in my being awarded a Mela Challenger award.
						</li>
					</ul>
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Develop ChecklistPreUpgrade pipeline (Jenkins, Ansible, Python) <ul
						class="bulleted-list"
					>
						<li style="list-style-type:circle">
							Automate pre CCD upgrade checks
						</li>
					</ul><ul class="bulleted-list">
						<li style="list-style-type:circle">
							Reducing upgrade lifecycle downtime by 1 day resulting in me being
							nominated by my team for and awarded an R&amp;R award.
						</li>
					</ul>
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Develop Orderable Item metrics tool (Python, React) <ul
						class="bulleted-list"
					>
						<li style="list-style-type:circle">
							Allow easy querying, creation and tabled display of Orderable Item
							metrics.
						</li>
					</ul><ul class="bulleted-list">
						<li style="list-style-type:circle">
							Metrics can then be used in orderable item review meetings
							resulting in reviews being more efficient going from 1 per week ~2
							hours to 1 per sprint ~ 30 minutes
						</li>
					</ul>
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Automate Jira support ticket creation from Prometheus alerts(Ansible,
					Jenkins, Python) <ul class="bulleted-list">
						<li style="list-style-type:circle">
							Reduce downtime of cluster instances for customers.
						</li>
					</ul>
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Handle upgrade and verification of production and development
					Monitoring infrastructure (Prometheus/Grafana/Alert Manager)
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Manage and maintain ~190 Kubernetes instances on OpenStack Clouds
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Develop internal tool to automate assessment of Cloud Native Maturity
					(Spring, React)
				</li>
			</ul><hr /><h3 class="">Junior Software Developer</h3><div
				class="flex justify-between"
			>
				<div style="width:112.5%" class="column">
					<p class="">Aryza/Vision Blue Solutions, Dublin</p>
				</div><div style="width:12.499999999999995%" class="column">
					<p class="">May 2020 - Sept 2020</p>
				</div>
			</div><p class="">
				<strong>Responsibilities</strong>
			</p><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Develop document management system to allow UI creation, search,
					update, archiving, grouping of customer records (ASP.net, React)
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Design and implement an improved UI/UX of document management system
					to align better with more complex relational documents.
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Implement versioning of documents with Users associated with edits to
					allow for tracking of changes and version rollback
				</li>
			</ul><hr /><h3 class="">Python Tutor</h3><div
				class="flex justify-between"
			>
				<div style="width:106.25%" class="column">
					<p class="">
						Dublin City University, Dublin<em> </em><strong
							>Responsibilities</strong
						>
					</p>
				</div><div style="width:12.499999999999991%" class="column">
					<p class="">Sept 2018 - May 2019</p>
				</div>
			</div><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Provided tutorial services for students in computer programming and
					Python
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Pair program with students to assist them with solutions during labs
				</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">Supervise python lab exams.</li>
			</ul><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Evaluated and documented student progress, recommending methods to
					improve tutoring.
				</li>
			</ul><hr /><div class="flex justify-between"></div><h1
				class="text-2xl font-semibold"
			>
				🎓<strong> </strong>Education
			</h1><hr /><h3 class="">
				Bachelor of Science (B.S.) Computer Applications and Software
				Engineering
			</h3><div class="flex justify-between">
				<div style="width:118.75%" class="column">
					<p class="">Dublin City University, Dublin</p>
				</div><div style="width:12.50000000000001%" class="column">
					<p class="">Sep 2017 - May 2021</p>
				</div>
			</div><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Relevant Coursework Completed across a broad spectrum of computing
					including programming, database management, machine-learning,
					algorithms, data-structures etc.
				</li>
			</ul><hr /><h3 class="">Exchange semester</h3><div
				class="flex justify-between"
			>
				<div style="width:118.75%" class="column">
					<p class="">Johannes Kepler University, Linz</p>
				</div><div style="width:12.499999999999991%" class="column">
					<p class="">Sep 2019 - Feb 2020</p>
				</div>
			</div><ul class="bulleted-list">
				<li style="list-style-type:disc">
					Coursework in data structures and algorithms, machine learning
					techniques (supervised and unsupervised) and AI
				</li>
			</ul><hr /><div class="flex justify-between">
				<div style="width:100%" class="column">
					<h2 class="text-2xl font-semibold">🛠 Skills</h2><hr /><div
						class="flex justify-between"
					>
						<div style="width:100%" class="column">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Typescript</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Jest/Cypress</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Playwright</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Flask</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">React</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">K8s</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Docker</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Postgres</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">HTML/CSS</li>
							</ul>
						</div><div style="width:100%" class="column">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">Python</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Nextjs</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Reddis</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Grafana</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Prometheus</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Jenkins</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Ansible</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Express/Trpc</li>
							</ul>
						</div><div style="width:100%" class="column">
							<ul class="bulleted-list">
								<li style="list-style-type:disc">TDD</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">CI/CD</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Git/Gerrit</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Git Flow</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Code Review</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Jira Suite</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Agile methods/Scrum</li>
							</ul><ul class="bulleted-list">
								<li style="list-style-type:disc">Automated testing</li>
							</ul>
						</div>
					</div>
				</div><div style="width:100%" class="column">
					<h2 class="text-2xl font-semibold">📝 Certifications</h2><hr /><h3
						class=""
					>
						Kubernetes &amp; Helm admin course completion
					</h3><p class="">
						<em>Component Safe</em>
					</p>
				</div>
			</div><hr /><p class=""></p>
		</div>
	</section>
</PageLayout>
