---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Sucess",
	description: "Success | Jack Doherty",
};
---

<PageLayout meta={meta}>
	<div class="container">
		<div class="">
			<div class="">
				<h1 class="title">Thank you!</h1>
				<p class="mt-2">
					Thank you for your message. I will get back to you as soon as
					possible.
				</p>

				<p class="mt-6">
					<a class="cactus-link" href="/">&#8592; Back to the homepage</a>
				</p>
			</div>
		</div>
	</div>
</PageLayout>
