---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Sucess",
	description: "Success | Jack Doherty",
};
---

<PageLayout meta={meta}>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Success</h1>
				<p>
					Thank you for your message. I will get back to you as soon as
					possible.
				</p>
			</div>
		</div>
	</div>
</PageLayout>
