---
import type { Favourite } from "@/types";

const favourites: Favourite[] = [
	{
		name: "MAYH3M SITE",
		description:
			"Clothing drop application site for mayh3m clothing I am building using next.js",
		link: "https://www.mayh3m.xyz/",
	},
	{
		name: "TRPC",
		description:
			"I've been using this library for a while now and it's been great. It's a great way to build a backend for your next.js app.",
		link: "https://trpc.io/",
	},
];
---

<h2 class="mb-4 text-xl title">Things I've been interested in lately.</h2>
<ul class="space-y-4 sm:space-y-4">
	{
		favourites.map((fav: Favourite) => (
			<li>
				<a
					href={fav.link}
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
				>
					{fav.name}:
				</a>
				<p class="inline sm:mt-2">{fav.description}</p>
			</li>
		))
	}
</ul>
